# Introdução ao SQlite com python
# Inserindo Dados

* Criando um banco de dados
* Criando colunas
* Inserindo Informações no banco de dados
* Visualizando informações dentro do SQlite.

In [11]:
import sqlite3
banco = sqlite3.connect('banco_main.db')

In [12]:
# objeto cursos que recebe o objeto que cria o banco
cursor = banco.cursor()

In [13]:
# Criando um banco de dados com o nome pessoa, com as seguintes colunas nome, idade e email.
cursor.execute('CREATE TABLE pessoas (nome text, idade integer, email text)')

In [21]:
# Inserindo informação na tabela pessoas
cursor.execute('INSERT INTO pessoas VALUES("Aline Silva",90,"AlineSilva.com.br")')

In [22]:
# Enviando essas informações para o nosso banco de dados com o comando commit
banco.commit()
print('Tabela atualizada !')

Tabela atualizada !

In [27]:
# Para podemos visualizar os dados inserido dentro da tabela:
cursor.execute('SELECT * FROM pessoas')
print(cursor.fetchall())

[('Paulo Silva', 25, 'PauloSilva.com.br'), ('Aline Silva', 90, 'AlineSilva.com.br')]

# Excluindo no SQlite

In [35]:
try:
  cursor.execute("DELETE from pessoas WHERE idade = 90")
  banco.commit()
  print('Dados deletados com sucesso.')
  cursor.execute('SELECT * FROM pessoas')
  print(cursor.fetchall())
except sqlite3.Error as erro:
    print(f'Erro ao deletar dados.{erro}')

Dados deletados com sucesso.
[('Paulo Silva', 25, 'PauloSilva.com.br')]

# Inserindo dados no SQlite, através de variaveis dinamincas

In [48]:
# Informações de um formulario
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
email = input('Digite seu email: ')

Digite seu nome: Aline
Digite sua idade: 33
Digite seu email: AlineSilva.com.br

In [49]:
try:
  cursor.execute("INSERT INTO pessoas VALUES ('"+nome+"',"+str(idade)+",'"+email+"')")
  print('Dados inseridos com sucesso.')
  cursor.execute('SELECT * From pessoas')
  print(cursor.fetchall())
  # cursor.execute('INSERT INTO pessoas VALUES("Aline Silva",90,"AlineSilva.com.br")')
except sqlite3.Error as erro:
    print(f'Erro ao inserir dados. {erro}')

Dados inseridos com sucesso.
[('Paulo Silva', 25, 'PauloSilva.com.br'), ('Ricardo', 22, 'Ricdaboa.com.br'), ('Aline', 33, 'AlineSilva.com.br')]

# Atualizando os danos no SQlite

### Atualizando nome

In [53]:
# Atualizando somente o nome
try:
  cursor.execute("UPDATE pessoas SET nome = 'Eduardo' WHERE idade = 22")
  print('Dados atualizandos com sucesso...')
  cursor.execute('SELECT * FROM pessoas')
  print(cursor.fetchall())
except sqlite3.Error as erro:
    print(f'Erro ao atualizar os dados. {erro}')

Dados atualizandos com sucesso...
[('Paulo Silva', 25, 'PauloSilva.com.br'), ('Eduardo', 22, 'Ricdaboa.com.br'), ('Aline', 33, 'AlineSilva.com.br')]

### Atualizando nome, idade e email

In [55]:
# Alterando nome,idade e email
try:
  cursor.execute("UPDATE pessoas SET nome = 'Eduardo' WHERE idade = 22")
  cursor.execute("UPDATE pessoas SET idade = 25 WHERE nome = 'Eduardo'")
  cursor.execute("UPDATE pessoas SET email = 'edu.com.br' WHERE nome = 'Eduardo'")
  print('Dados atualizandos com sucesso...')
  cursor.execute('SELECT * FROM pessoas')
  print(cursor.fetchall())
except sqlite3.Error as erro:
    print(f'Erro ao atualizar os dados. {erro}')

Dados atualizandos com sucesso...
[('Paulo Silva', 25, 'PauloSilva.com.br'), ('Eduardo', 25, 'edu.com.br'), ('Aline', 33, 'AlineSilva.com.br')]